:root{
  --clr-primary:#4444e2;
  --clr-dangerd:#ea3b3b;
  --clr-success:#6cf856;
  --clr-white:#ffffff;
  --clr-gray:#0a0a0a92;
  --clr-info-dark:hsl(100, 1%, 10%);
  --clr-warning:#ff9bac;
  --clr-light:rgba(254, 250, 250, 0.18);
  --clr-blue:rgba(63, 94, 188, 0.796);
  --card-border-radius:2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2:0.8rem;
  --border-radius-3:1.2rem;

  --card-padding:1.8rem;
  --padding-1:1.2rem;
  --box-shodow:0 2rem 3rem var(var(--clr-light));

  }

  *{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
  }
  html{
  scroll-behavior: smooth;
  }
  @font-face {
  font-family: "Sedan";
  src: url(assets/fonts/Sedan/Sedan-Regular.ttf);
  font-family: 'Montserrat';
  src: url(assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
  font-family: "play";
  src: url(assets/fonts/static/Platypi-SemiBold.ttf);
  }
  @font-face {

  font-family: "dancing2";
  src: url(assets/fonts/Dancing_Script/static/DancingScript-Regular.ttf);
  }
  @font-face {
  font-family: "dancing";
  src: url(assets/fonts/Dancing_Script/static/DancingScript-Bold.ttf);
  }
  .scroll-w{
  height: 4px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #3061f4;
  width: 100%;
  scale: 0 1;
  animation: scroll-w linear;
  animation-timeline: scroll();
  }
  @keyframes scroll-w {
  to{ scale: 1 1;}
  }
  h1{
  font-family: "dancing";
  letter-spacing: 5px;

  }


  .logo{
  width:160px;

  }

  
  /* dark button */
  .dark-mode {
  background-color: #222;
  color: #ddd;
  }
 
  .btndark{
  position: absolute;
  bottom: 3rem;
  display: grid;
  place-items: center;
  background: #e3edf7;
  width: 30px;
  height: 30px;
  margin: 2rem;
  padding: 1.4em;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
  transition: transform 0.5s;
  }

  .btndark:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
          inset -4px -4px 6px -1px rgba(255,255,255,0.7),
          -0.5px -0.5px 0px rgba(255,255,255,1),
          0.5px 0.5px 0px rgba(0,0,0,0.15),
          0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rgba(0,0,0,0.1);
  transform: translateY(0.5em);
  }

  .btndark i {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  height: 25px;
  transition: transform 0.5s;
  }

  .btndark:hover i {
  transform: scale(0.9);
  fill: #333333;
  }






  /************** sidebar ************/
  aside {
    width: 10%;
  }
  .sidebar{
      background: transparent;
      display: flex;
      flex-direction: column;
      height: 100vh;
      position: relative;
      top: 1rem;
     
  }
  h3{
      font-weight: 200;
  }
  .sidebar a{
      display: flex;
      margin-left: 1.6rem;
      margin-top: 1.2rem;
      text-decoration: none;
      color: var(--clr-gray);
      font-style:oblique;
      text-shadow: 1px 1px  #f7f5f5d6;
      gap: 1rem;
      align-items: center;
      height: 3.2rem;
      transition: all .1s ease-in;
  }
  .sidebar a span{
      color: var(--clr-gray);
      text-shadow: 1px 1px  #f7f5f5d6;
      font-size: 1.6rem;
      transition: all .1s ease-in;
      
  }
  .sidebar a:last-child{
      position: absolute;
      bottom: 0;
      width: 100%;

  }
  .sidebar a.active{
      background: var(--clr-light);
      color: var(--clr-primary);
      margin-left: 0;
      width: 100%;
      /* border-left: 5px solid var(--clr-primary); */
  }

  .sidebar a.active::before{
      content: "";
      width: 6px;
      height: 100%;
      background-color: var(--clr-primary);

  }
  .sidebar a:hover{
      color: var(--clr-primary);
  }
  .sidebar a:hover span{
      color: var(--clr-primary);
      margin-left: 1rem ;
      transition: .4s ease;
  }
  .sidebar a span.msg_count{
      background: var(--clr-dangerd);
      color: var(--clr-white);
      padding: 2px 5px;
      font-size: 11px;
      border-radius: var(--border-radius-1);
  }


  /* Media query */

  @media screen and (max-width: 1200px) {
      .container{
      width: 94%;
      grid-template-columns: 7rem auto 14rem;
      }
      .sidebar h3{
      display: none;
      }
      .sidebar a:last-child{
      position: relative;
      margin-top: 1.8rem;
      }
      /* main .insights{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      } */
  }
 